<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 3分間本気出す。</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-6 mx-auto col-sm-12">
                <header>
                    <nav class="navbar navbar-light bg-light mb-3 border border-primary rounded">
                        @Html.ActionLink("３分間本気出す。", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            @Html.Partial("_LoginPartial")
                    </nav>
                </header>
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - 3分間本気出す。</p>
                </footer>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
    </div>
</body>
</html>
