<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 3分間本気出す。</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <header><div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="container">
            <nav class="navbar navbar-light bg-light navbar-expand-lg mb-5 mx-4 border border-primary rounded">
                @Html.ActionLink("３分間本気出す。", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse justify-content-end">
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    <div class="col"></div>
</header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 3分間本気出す。</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
