
@{
    ViewBag.Title = "TweetPost";
}
@model TweetTest.Models.TweetResult

<h2>TweetPost</h2>
<p>以下の内容をツイートしました。</p><br>
<p>@Model.Task1</p><br>
<p>@Model.Task2</p><br>
<p>@Model.Task3</p><br>
<p>@Model.Task4</p><br>
<p>@Model.Task5</p><br>